@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=League+Spartan:wght@300;400;500;600;700&family=Spectral:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --primary-clr: #e9dfe0;
  --secondary-clr: #0e0a18;
  --accent-clr: #a43acb;
  --primary-btn-clr: #4717f7;
  --secondary-btn-clr: #130e20;

  /* --heading-ff: "Spectral", serif;
  --paragraph-ff: "League Spartan", sans-serif; */
  --heading-ff: "Inter", serif;
  --paragraph-ff: "Inter", sans-serif;
  --misc-ff: "DM Serif Display", serif;

  --fs-xsmall: 14px;
  --fs-small: 16px;
  --fs-medium: 20px;
  --fs-large: 24px;
  --fs-paragraph: 18px;

  --container-padding: 0 16px;
  --container-margin: 0 auto;
  --container-width: 1200px;

  --box-shadow: 0 0 2rem -1rem var(--secondary-clr);
  --box-shadow--small: 0 0 0.5rem -0.25rem rgba(0, 0, 0, 0.2);

  --border-radius: 5px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --opacity: 0.7;

  --gradient: linear-gradient(
    to top left,
    var(--accent-clr),
    var(--primary-btn-clr)
  );
}

/* Themes */
:root[data-theme="dark"] {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}
:root[data-theme="light"] {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

/* Default styles */
body {
  font-family: var(--paragraph-ff);
  font-size: var(--fs-small);
  color: var(--primary-clr);
  background: var(--secondary-clr);
}

h1,
h2,
h3 {
  font-family: var(--heading-ff);
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

img {
  transition: filter 0.5s;
}

p {
  font-size: var(--fs-paragraph);
}

.container {
  max-width: var(--container-width);
  margin: var(--container-margin);
}

.section {
  /* padding: 10rem 3rem; */
  padding: 10rem 0;
  border-top: 1px solid #4a2358;
  transition: transform 1s, opacity 1s;
}

.section__title {
  max-width: 80rem;
}

.section__header {
  margin: 10px 0 40px;
}

.primary-btn {
  color: inherit;
  background-color: transparent;
  border: 1px solid var(--accent-clr);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--paragraph-ff);
  font-size: var(--fs-small);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  transition: all 0.3s;
  cursor: pointer;
}

.primary-btn:hover {
  transform: translate(0, -5px);
}

/* HEADER */
.header {
  /* padding: 0 3rem; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;
  display: grid;
  align-content: center;
  justify-content: center;
}

.header-role {
  margin-bottom: 1rem;
  color: var(--accent-clr);
  font-weight: 500;
  font-size: var(--fs-small);
}

.hero-title {
  font-size: 80px;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 50px;
  font-weight: 600;
  margin-top: 5px;
  line-height: 0.9;
}

.header-description {
  margin-top: 20px;
  width: 60%;
  font-size: var(--fs-paragraph);
}

.hero-subtitle,
.header-description {
  opacity: var(--opacity);
}

.colour-effect {
  background: linear-gradient(
    120deg,
    var(--accent-clr),
    var(--primary-btn-clr)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn--scroll-to {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--accent-clr);
  border-radius: var(--border-radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fs-small);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
  margin-top: 50px;
  margin-right: 0.75rem;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  /* padding: 0 6rem; */
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: var(--secondary-clr);
  box-shadow: var(--box-shadow);
  width: var(--container-width);
}

.nav__logo {
  transition: all 0.3s;
}

.nav__logo img {
  height: 3rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: var(--fs-small);
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link--btn:hover,
.nav__link--btn:active {
  transform: translate(0, -5px);
}

.section--1__container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.section--1__container img {
  vertical-align: middle;
  margin: 0 auto;
}

.section__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section__description p {
  margin: 0 0 1rem;
  font-size: var(--fs-small);
  opacity: var(--opacity);
}

.highlight {
  font-weight: 600;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-icon i {
  font-size: 4rem;
  color: var(--accent-clr);
  opacity: var(--opacity);
}

.skill-icon i:hover {
  opacity: 1;
}

.skill-icon p {
  margin-top: 1rem;
  font-size: var(--fs-xsmall);
  opacity: var(--opacity);
}

.img-container {
  -webkit-mask-image: linear-gradient(
    180deg,
    var(--secondary-clr) 50%,
    transparent
  );
  mask-image: linear-gradient(180deg, var(--secondary-clr) 50%, transparent);
}
