@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=League+Spartan:wght@300;400;500;600;700&family=Spectral:wght@300;400;500;600;700&display=swap");

:root {
  --light-clr: #f3f3f3;
  --light-grey-clr: #e3e3e7;
  --dark-clr: #000026;
  --accent-clr: #4830e6;

  --header-ff: "Spectral", serif;
  --para-ff: "League Spartan", sans-serif;
  --misc-ff: "DM Serif Display", serif;

  --h1-fs-mobile: 2rem;
  --h2-fs-mobile: 1.5rem;
  --h3-fs-mobile: 1.25rem;
  --para-fs-mobile: 1rem;

  --container-padding: 0 16px;
  --container-margin: 0 auto;

  --box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.2);
  --box-shadow--small: 0 0 0.5rem -0.25rem rgba(0, 0, 0, 0.2);

  --gradient-primary: linear-gradient(to top left, #201ca0, var(--accent-clr));
}

body {
  font-family: var(--para-ff);
  font-size: var(--para-fs-mobile);
  background: var(--light-clr);
  color: var(--dark-clr);
}

h1,
h2,
h3 {
  font-family: var(--header-ff);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--h1-fs-mobile);
}

h2 {
  font-size: calc(var(--h2-fs-mobile));
}

h3 {
  font-size: calc(var(--h3-fs-mobile));
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--accent-clr);
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  transition: filter 0.5s;
}

/* General Styles */
.container {
  max-width: 100%;
  margin: var(--container-margin);
  padding: var(--container-padding);
}

.section {
  padding: 15rem 0;
  border-top: 1px solid var(--light-grey-clr);
  transition: transform 1s, opacity 1s;
}

.btn {
  padding: 0.5rem 1rem;
  display: inline-block;
  background: var(--light-clr);
  font-weight: 500;
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: var(--light-clr);
  color: var(--dark-clr);
  border: 1px solid var(--dark-clr);
}

.btn--scroll-to {
  background: var(--accent-clr);
  color: var(--light-clr);
}

.btn--scroll-to:hover {
  color: var(--accent-clr);
  border: 1px solid var(--accent-clr);
}

/***** Desktop Styles *****/
/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  z-index: 100;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  transition: all 0.3s;
  font-size: 1.75rem;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.5rem 0.75rem;
  display: inline-block;
  background: var(--accent-clr);
  color: var(--light-clr);
  border: 1px solid var(--accent-clr);
  cursor: pointer;
  border-radius: 0.25rem;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--light-clr);
  color: var(--accent-clr);
}

/* Header */
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: center;
  justify-items: start;
}

.header-role {
  margin-bottom: 0;
  color: var(--accent-clr);
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.header-description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.05, 0.75) skewX(-5deg);
  background-image: var(--gradient-primary);
}

.header__img {
  vertical-align: middle;
  -webkit-mask-image: linear-gradient(180deg, #000 50%, transparent);
}

/* .toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--accent-clr);
} */

/***** Small Tablets Styles *****/
@media screen and (min-width: 620px) {
  :root {
    --container-padding: 0 30px;
    --h1-fs-mobile: 3rem;
    --h2-fs-mobile: 2rem;
    --h3-fs-mobile: 1.75rem;
    --para-fs-mobile: 1.25rem;
  }

  .container {
    max-width: 600px;
  }

  .toggle-button {
    display: none;
  }
}

/***** Large Tablets and Laptops Styles *****/
@media screen and (min-width: 960px) {
  :root {
    --container-padding: 0 50px;
    --h1-fs-mobile: 4rem;
    --h2-fs-mobile: 3rem;
    --h3-fs-mobile: 2rem;
  }

  .container {
    max-width: 960px;
  }

  .toggle-button {
    display: none;
  }
}

/***** Desktop Styles *****/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
